{;;
 ;; gossamer.core logback config for prod
 ;;

 "bract.core.exports" ["logback.statuslistener.enabled"
                       "logback.level.root"
                       "logback.level.app"
                       "logback.appender.console.enabled"
                       "logback.appender.jsonfile.enabled"
                       "logback.appender.textfile.enabled"
                       "logfile.app.json.name"
                       "logfile.app.text.name"
                       "logfile.metrics.json.name"
                       "logfile.metrics.text.name"
                       "logfile.max.filesize"
                       "logfile.maxhistory.days"
                       "logfile.archive.totalsize"
                       "logfile.json.pretty.print"
                       "logfile.immediate.flush"
                       "logfile.async.queue.size"
                       "logfile.async.discard.at"
                       "net.spy.log.LoggerImpl"]
 "logback.statuslistener.enabled"    "false"  ; false disables the verbose Logback initialization output
 "logback.level.root"                "ERROR"
 "logback.level.app"                 "WARN"
 "logback.appender.console.enabled"  "false"
 "logback.appender.jsonfile.enabled" "true"
 "logback.appender.textfile.enabled" "true"
 "logfile.app.json.name"             "logs/application_json.log"
 "logfile.app.text.name"             "logs/application_text.log"
 "logfile.metrics.json.name"         "logs/metrics_json.log"
 "logfile.metrics.text.name"         "logs/metrics_text.log"
 "logfile.max.filesize"              "100MB"
 "logfile.maxhistory.days"           "10"
 "logfile.archive.totalsize"         "10GB"
 "logfile.json.pretty.print"         "false"
 "logfile.immediate.flush"           "false"
 "logfile.async.queue.size"          "500"
 "logfile.async.discard.at"          "100"
 ;; direct SpyMemcached logs to SLF4j
 "net.spy.log.LoggerImpl"            "net.spy.memcached.compat.log.SLF4JLogger"
 }
